.about {
  text-align: center;
}

.about-card {
  width: 80%;
  margin: 40px auto;
  background: #1e293b;
  padding: 40px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.about-card:hover {
  transform: translateY(-6px);
}

.about-card h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.about-card p {
  line-height: 1.7;
  margin-bottom: 15px;
  color: #cbd5e1;
}