.achievements {
  text-align: center;
}

.achievements-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.achievement-card {
  background: #1e293b;
  padding: 35px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.achievement-card:hover {
  transform: translateY(-6px);
}

.achievement-card h3 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.achievement-card p {
  line-height: 1.6;
  color: #cbd5e1;
}