.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  user-select: none;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

.nav-links a:hover {
  color: #38bdf8;
}