.projects {
  text-align: center;
}

.projects-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-card {
  background: #1e293b;
  padding: 40px;
  border-radius: 15px;
  text-align: left;
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
  transition: 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h3 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.project-card p {
  line-height: 1.6;
  color: #cbd5e1;
}

.tech-stack {
  margin-top: 15px;
  color: #94a3b8;
}

.project-card a {
  display: inline-block;
  margin-top: 20px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: 600;
}   
@media (max-width: 768px) {

  .about-card,
  .project-card,
  .contact-card,
  .achievement-card {
    width: 95%;
    padding: 25px;
  }

}