.skills {
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}


.skill-item {
  position: relative;
}

.skill-name {
  display: inline-block;
  padding: 12px 25px;
  background: #38bdf8;
  color: #0f172a;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.skill-name:hover {
  transform: translateY(-5px);
}

.skill-details {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  background: #1e293b;
  color: #cbd5e1;
  padding: 15px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5;
  box-shadow: 0 6px 20px rgba(0,0,0,0.4);

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.skill-item:hover .skill-details {
  opacity: 1;
  pointer-events: auto;
} 

.skills-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  gap: 20px;
}

.skills-list > :nth-child(6) {
  grid-column: 3;
}