* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
   user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
  overflow-x: hidden;
}

section {
  padding: 120px 20px;
  text-align: center;
  scroll-margin-top: 100px;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #38bdf8;
}